@font-face {
  font-family: 'AvertaKyivstar';
  src: url('../assets/fonts/AvertaKyivstar/AvertaKyivstar-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AvertaKyivstar';
  src: url('../assets/fonts/AvertaKyivstar/AvertaKyivstar-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AvertaKyivstar';
  src: url('../assets/fonts/AvertaKyivstar/AvertaKyivstar-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
